body {
    display: flex;
    flex-direction: column;
    background: rgb(99, 14, 144);
    background: radial-gradient(circle, rgba(99, 14, 144, 1) 7%, rgba(25, 208, 194, 1) 38%, rgba(144, 84, 156, 1) 85%);
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

h2 {
    text-align: center;
    color: rgb(14, 56, 134);
    margin: 0.5rem;
    font-size: 3rem;
    font-style: italic;
}

.titulos {
    flex-direction: column;
    display: flex;
    justify-content: left;
}

sub {
    text-align: left;
    font-size: 1.7rem;
    justify-content: start;
}

.images {

    justify-content: space-around;
}

.enamoraos {
    width: auto;
    height: 12rem;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    float: right
}

.amor {
    width: auto;
    height: 12rem;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    float: left
}

.pintar {
    width: auto;
    height: 12rem;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    float: right
}

.juntos {
    width: auto;
    height: 23rem;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    justify-content: space-around;
}

.victor {
    width: auto;
    height: 23rem;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    justify-content: space-around;
}

.emily {
    width: auto;
    height: 23rem;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    justify-content: space-around;
}

.vicly {
    width: auto;
    height: 23rem;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    justify-content: space-around;
}

.victoria {
    width: auto;
    height: 23rem;
    margin: 0.5rem;
    padding: 2px;
    border: 2px solid black;
    justify-content: space-around;
}

.parrafo-1 p {
    display: inline;
}

.parrafo-1 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(98, 92, 179);
    font-size: 1.2rem;
}

.parrafo-2 p {
    display: inline;
}

.parrafo-2 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(98, 92, 179);
    font-size: 1.2rem;
}

.parrafo-3 p {
    display: inline;
}

.parrafo-3 {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(98, 92, 179);
    font-size: 1.2rem;
}